faster_whisper==1.2.1
langchain_chroma==1.1.0
langchain_community==0.4.1
langchain_openai==1.1.7
langchain_text_splitters==1.1.0
numpy==2.4.1
openai==2.16.0
python-dotenv==1.2.1
sounddevice==0.5.5
soundfile==0.13.1
